.newsLetter button {
    font-size: 15px;
}

section.footer {
    background-image: -moz-linear-gradient(41deg, #1893f0 30%, #0dc7ea 75%, #01fae3 100%);
    background-image: -webkit-linear-gradient(41deg, #1893f0 30%, #0dc7ea 75%, #01fae3 100%);
}

.footerLogo {
    width: 65px;
}

.footerMiddleSection ul li {
    font-size: 14px;
}

@media only screen and (max-width: 767px) {
    .footerfirstSection,
    .footerMiddleSection {
        text-align: center;
    }
    .footerLogo {
        width: 65px;
        margin: 0 auto;
    }
    .newsLetter .col-lg-4 {
        margin-top: 15px;
    }
    .footerMiddleSection {
        margin-bottom: 15px;
        margin-top: 20px;
    }
}