<div class="modal show" id="assurancePaymentModal-<%=payment.id%>" tabindex="-1" aria-labelledby="assurancePaymentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assurancePaymentModalLabel">Assurance Payment</h5>
      </div>
      <div class="modal-body">
        To wallet: <span id='assuranaceAmtwalletNumberToCopy'><%= payment.receiver_wallet_number.strip %></span>
        <span class="clipboard-btn btn btn-sm btn-primary" data-clipboard-action="copy" data-clipboard-target="#assuranaceAmtwalletNumberToCopy">copy</span>
        <p>Assurance Amount: <%= payment.amount %></p>
      </div>

      <%= render partial: 'shared/payment_verification_form', locals: {payment: payment} %>
    </div>
  </div>
</div>
