<footer class="text-center text-white mb-0">
  <!-- Copyright -->
  <%= link_to 'Support', new_support_ticket_path, class: 'nav-link text-white' %>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <%# <a class="text-white" href="https://mdbootstrap.com/">mmm.com</a> %>
    <%= link_to 'www.mmm.com', root_path, class: 'text-white' %>
  </div>
  <!-- Copyright -->
</footer>